extends layout

block content
  div.container
    div.row
      div.col-sm-6.col-md-4.col-md-offset-4
        #user
          h1.text-center.login-title Welcome #{user.firstName}. These are the projects you own:
            div.projects
              ul.poject-list
                li Project Name --->   #{project.name}
                li Manager  --->   #{project.manager}
              a(href='/addproject', class='text-center') Add New Project
              a(href='/home', class='text-center') Goto Home Page 
            a(href='/signout', class='text-center new-account') Sign Out
