  div 
        div.dropdown
          button(class='btn btn-default dropdown-toggle' type='button' name='role', id='dd1' data-toggle='dropdown') Role
           span.caret
                ul(class='dropdown-menu' role='menu' aria-labelledby='menu1')
           li(role='presentation')
             a(role='menuitem' tabindex="-1" href='#') Manager
           li(role='presentation') 
             a(role='menuitem' tabindex="-1" href='#') User 
